/* Stylesheet */

.media-items input, .media-items textarea {
    display: inline-block;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    border-radius: .25rem;
    max-width: 100%;
    border: 1px solid #ced4da;
    margin-bottom: 10px;
}
.media-items .copy-btn, .media-items input[type="submit"] {
    background: #0085ba;
    border: 1px solid #006799;
    box-shadow: 0 1px 0 #006799;
    color: #fff;
    text-decoration: none;
    text-shadow: 0 -1px 1px #006799;
    display: inline-block;
    font-size: 13px;
    line-height: 26px;
    height: 28px;
    margin: 0;
    padding: 0 10px 1px;
    cursor: pointer;
    -webkit-appearance: none;
    border-radius: 3px;
    white-space: nowrap;
    box-sizing: border-box;
}

.media-items textarea[readonly] {
    font-size: 0.8rem;
    width: 100%;
    min-height: 310px;
    background: #fbfbfb;
}